.card {
    width: 180px;
    height: 180px;
    margin: 20px;
    border:3px white solid;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
.card:hover {
    width: 185px;
    height: 185px;
}